//FONTS
$font-large: 32px;
$font-big: 24px;
$font-medium: 18px;
$font-small: 17px;
$font-super-small: 16px;
//COLORS
$color-white: #FFFFFF;
$color-background-white: #F4F4F4;
$color-border-gray: #C6C6C6;
$color-input-font: #AFAFAF;
$color-input-separator: #DEDEDE;
$color-main-green: #94D02C;
$color-second-green: #3FA200;
$color-main-red: #F4495B;
$color-second-red: #A2202A;